:root{
    --primaryColor: #7a63f1;
    --secondaryColor: #ebe8fc;
    --textColor: #a3a3a3;
    --greyColor: #f4f4f4;
    --whiteColor: #f5f4fa;
    --blackColor: #434344;
}

.auction{
    .secContainer{
        .secHeading{
            
            justify-content: space-between;
            padding: 1rem 0;

            .navBtns{
                gap: .5rem;

                .icon{
                    padding: 3px 5px;
                    background:var(--secondaryColor);
                    border-radius: 3px;
                    font-size: 30px;
                    cursor:pointer;

                    &:hover{
                        background:var(--primaryColor);
                        color:var(--whiteColor);


                    }

                }

            }
        }
        .carContainer{
    
            gap: 2rem;
            align-items: center;
            

            .singleCar{
                transition: .3s ease-in-out;
                text-align: left;
                padding: 1rem;
                border-radius: 10px;
                
    
                text-align: left;
                .imgDiv{
                    height: 350px;
                    width: 100%;
                    overflow: hidden;
                    border-radius: 10px;
                    border: 5px solid transparent;
                    


                    img{
                        height: 100%;
                        width:100%;
                        object-fit: contain;
                    }
                }
                .carTitle{
                    color: var(--blackColor);
                    font-size: 15px;
                    padding-top: 10px;
                }
                .miles{
                    color: var(--blackColor);
                    opacity: .7;
                    font-size: 14px;

                }
                .AWD{
                    padding: 1rem 0;
                    color: var(--blackColor);
                    font-weight: 600;
                    font-size: 15px;

                }
                .price_buyBtn{
                    gap:1rem;

                    span{
                        
                        padding: .5rem 1rem;
                        border-radius: 3px;
                        font-weight: 600;
                    }

                    .price{
                        background:var(--secondaryColor);
                        color: var(--primaryColor);
                    }

                    .buyBtn{
                        
                        background: var(--primaryColor);
                        color: var(--whiteColor);
                        cursor: pointer;

                        &:hover{
                            background: var(--secondaryColor);
                            color: var(--textColor);
                        }
                    }
                }

                &:hover{
                    transform: translateY(-7px);
                    padding: 1rem;
                    background-color: var(--secondaryColor);

                    .price_buyBtn{
                        span{
                        border: 1px solid var(--primaryColor);
                        }
                    }
                }
            }
            .singleCarActive{
                padding: 1rem;
                background: var(--secondaryColor);

                .price_buyBtn{
                    span{
                        border: 1px solid var(--primaryColor);
                    }
                }
            }


        }
    }
}

//media query for responsive auction section
@media  screen and (min-width:520px) {
    .auction{
        .secContainer{
            .secHeading{
                margin-top: 1rem;
                .secTitle{
                    font-size: 23px;

                }
                .navBtns{
                    gap:.5rem ;
                    .icon{
                        font-size: 40px;
                    }
                }
            }
            .carContainer{
                grid-template-columns: repeat(2,1fr);
                .singleCar{
                    .carTitle{
                        font-size: 10px;
                    }
                    .miles.AWd{
                        font-size: 16px;
                    }

                    .price_buyBtn{
                        font-weight: 600;
                    }
                }
            }
        }
    }
    
}

@media  screen and (min-width:900px) {
    .auction{
        .secContainer{
            .secHeading{  
                .secTitle{
                    font-size: 23px;

                }
                .navBtns{
                    gap:1rem ;
                    
                }
            }
            .carContainer{
                grid-template-columns: repeat(3,1fr);
                
            }
        }
    }
    
}